<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Command Finder</title>
    <link rel="stylesheet" href="/static/styles.css">


</head>
<body>
    <div class="pagetitle">
        <h1 > Command Finder</h1>
        <img src="/static/friend.svg">
        <a href="{{ url_for('index') }}"><img class="homebtn" src="/static/homeIcon.svg"></a>
    </div>
    
    

    {% block main %}
    {% endblock %}
</body>
</html>
